name: Reusable GCR Build and Push

on:
  workflow_call:
    inputs:
      image-name:
        required: true
        type: string
      gcp-project-id: # This was missing
        required: true
        type: string
    secrets:
      GCP_SA_KEY:
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Application Code
        uses: actions/checkout@v3

      - name: Login to Google Container Registry (GCR)
        uses: docker/login-action@v2
        with:
          registry: gcr.io
          username: _json_key
          password: ${{ secrets.GCP_SA_KEY }}

      - name: Get Version and Git SHA
        id: vars
        run: |
          echo "sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "version=$(cat VERSION)" >> $GITHUB_OUTPUT

      - name: Build and Push Docker Image to GCR
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            gcr.io/${{ inputs.gcp-project-id }}/${{ inputs.image-name }}:${{ steps.vars.outputs.sha }}
            gcr.io/${{ inputs.gcp-project-id }}/${{ inputs.image-name }}:${{ steps.vars.outputs.version }}