name: Reusable Artifact Registry Build and Push

on:
  workflow_call:
    inputs:
      image-name:
        required: true
        type: string
      artifact-registry-repo:
        required: true
        type: string
    secrets:
      GCP_SA_KEY:
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Application Code
        uses: actions/checkout@v3

      - name: Extract Artifact Registry hostname
        id: ar-host
        run: echo "host=$(echo ${{ inputs.artifact-registry-repo }} | cut -d'/' -f1)" >> $GITHUB_OUTPUT

      - name: Login to Google Artifact Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ steps.ar-host.outputs.host }}
          username: _json_key
          password: ${{ secrets.GCP_SA_KEY }}

      - name: Get Version and Git SHA
        id: vars
        run: |
          echo "sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "version=$(cat VERSION)" >> $GITHUB_OUTPUT

      - name: Build and Push Docker Image to Artifact Registry
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ${{ inputs.artifact-registry-repo }}/${{ inputs.image-name }}:${{ steps.vars.outputs.sha }}
            ${{ inputs.artifact-registry-repo }}/${{ inputs.image-name }}:${{ steps.vars.outputs.version }}